<!DOCTYPE html>
<html>
  <head>
    <title>Black Screen</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        color: #333;
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
      }
      h1 {
        color: #4a4a4a;
      }
      .environment {
        background-color: #f4f4f4;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <h3>
      This is the WhatsApp-OpenAI integration
      <span>{{ environment }}</span> server.
    </h3>
    <p>This is just the view for the backend home.</p>
    <p>The frontend is a separate project.</p>
  </body>
</html>
